.card {
  text-align: center;
  border: 2px solid black;
  cursor: pointer;  
  width: 20%;  
  display: table-cell;
  background: white;
  text-align: center;
  vertical-align: middle;
}

.selected {
  border: 2px solid purple;
  background: lightgreen;
}

.card:hover {
  border: 2px dotted blue;
  background: lightgray;
}

.row {
  width: 100%;
  display: table-row;
}
